<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <mata charset="UTF-8" />-->
<!--    <title>〇〇カフェ</title>-->
<!--    <link rel="stylesheet" href="style.css">-->
  
     <!--Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

     <!--Compiled and minified JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->
    
    <!--<script-->
    <!--src="https://code.jquery.com/jquery-3.4.1.js"-->
    <!--integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="-->
    <!--crossorigin="anonymous"></script>-->
    <!--<script src="cafe.js"></script>-->
  
    <!-- アイコンをダウンロードするための追記 -->
    <!--Import Google Icon Font-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  
     <!--Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
  
    <!-- Compiled and minified JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>-->
            
  <!--</head>-->
  
  <body>
  
    <div class="main_img"></div>
    
    <div class="concept">
        <h2 class="heading">コンセプト</h2>
        <p class="concept-text">
          あああああああああああああああああああああああああああああああああああああああああ<br>      
          あああああああああああああああああああああああ
        </p>
    </div>
    
    <div class="food">
       <div class="menu">Menu</div>
       <div class="menu_img">Menu_img</div>
    </div>
    
    <div class="schedule">
      <div class="tab-menu">
        <ul>
          <li id="left" class="selected">9月</li>
          <li id="right">10月</li>
        </ul>
      
        <div class="contents">
          <div class="left">
            <p>9月のスケジュール</p>
          </div>
          <div class="right">
            <p>10月のスケジュール</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="about"></div>
    
    <div class="share"></div>
    
    <div class="footer"></div>
<!--  </body>-->
<!--</html>-->