html {
  font-family: "yuGothic", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

.body {
  background-color: #FFFFFF;
}

.main {
  
}

.concept {
  height: 100px;
}

.food {
  background-color: #F5DEB3;
}

.schedule {
  
}

.about {
  height: 100px;
}

.share {
  height: 50px;
}

.footer {
  height: 50px;
  background-color: #FFFFFF;
}